[include mainsail.cfg]
[include shell_command.cfg]
[include macros.cfg]
[include KAMP_Settings.cfg]
[exclude_object]
[respond]
[gcode_arcs]
[pause_resume]
[display_status]

#[resonance_tester]
#accel_chip: adxl345
# include input shaper
#[include PIS.cfg]

[mcu]
serial: /dev/ttyS0
restart_method: command

#[led LED_Light]
#white_pin: PB9
#cycle_time: 0.005

[output_pin LED]
pin: PB9

[virtual_sdcard]
path: /home/pi/printer_data/gcodes
on_error_gcode: CANCEL_PRINT

[printer]
kinematics: cartesian
max_velocity: 350
max_accel: 3000
#max_accel_to_decel: 4000
max_z_velocity: 15
max_z_accel: 100
square_corner_velocity: 5
# Use those higher values just to configure Input Shaper 
#max_accel: 10000
#max_accel_to_decel: 10000

[stepper_x]
step_pin: !PC12
dir_pin: PB3
enable_pin: !PD2
microsteps: 16
rotation_distance: 40
endstop_pin: PA13
position_endstop: -6.0
position_min: -6
position_max: 235
homing_speed: 50

[stepper_y]
step_pin: PC11
dir_pin: PA15
enable_pin: !PC10
microsteps: 16
rotation_distance: 40
endstop_pin: PB8
position_endstop: 0
position_max: 235
homing_speed: 50

[stepper_z]
step_pin: PC7
dir_pin: !PC9
enable_pin: !PC8
rotation_distance: 8
microsteps: 16
position_min: -2
position_max: 280
endstop_pin: probe:z_virtual_endstop # Use Z- as endstop
homing_speed: 5.0


[extruder]
max_extrude_only_distance: 101.0
max_extrude_cross_section: 5
step_pin: PB10
dir_pin: PB1
enable_pin: !PC6
microsteps: 16
nozzle_diameter: 0.400
filament_diameter: 1.750
heater_pin: PA6
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC1
min_temp: 0
max_temp: 290
# Calibrate E-Steps https://www.klipper3d.org/Rotation_Distance.html#calibrating-rotation_distance-on-extruders
rotation_distance: 7.502
#prev 7.655
#rotation_distance: 7.45 - 429 esteps, 7.655 - 418 esteps
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=extruder TARGET=200
#control = pid
#pid_kp = 30.356
#pid_ki = 1.857
#pid_kd = 124.081
# Calibrate PA: https://www.klipper3d.org/Pressure_Advance.html
#pressure_advance = 0.055 0.037
pressure_advance = 0.06

[verify_heater extruder]
max_error: 200

[firmware_retraction]
retract_length: 0.4
retract_speed: 30
unretract_extra_length: 0
unretract_speed: 30

[heater_bed]
heater_pin: PA5
sensor_type: EPCOS 100K B57560G104F
sensor_pin: PC0
pwm_cycle_time: 0.020 # set to 0.0166 if your grid runs on 60Hz to fix lights flickering
max_temp: 110
min_temp: 0
# Calibrate PID: https://www.klipper3d.org/Config_checks.html#calibrate-pid-settings
#  - Example: PID_CALIBRATE HEATER=heater_bed TARGET=60
#control = pid
#pid_kp = 64.230
#pid_ki = 0.723
#pid_kd = 1425.905

[heater_fan hotend_fan]
pin: PB0
heater: extruder
heater_temp: 60.0
cycle_time: 0.010
kick_start_time: 0.100
#fan_speed: 0.8
hardware_pwm: False
off_below: 0.0

[fan]
pin: PA7
kick_start_time: 0.25
off_below: 0.15

[force_move]
enable_force_move: True

[safe_z_home]
#home_xy_position: 117.5, 117.5
home_xy_position: 143.5, 93
z_hop: 10

[probe]
pin: ^PA8
speed: 5
lift_speed: 15
#samples: 1
samples: 2
x_offset: -28
y_offset: 20
# Calibrate probe: https://www.klipper3d.org/Bed_Level.html
# - Example: PROBE_CALIBRATE, then adjust with TESTZ Z=+/-X
#z_offset = 0

[filament_switch_sensor filament_sensor]
pause_on_runout: true
switch_pin: PB4

[bed_screws]
#ALL SCREWS NUMBERED FROM LOOKING DIRECTLY AT FRONT OF PRINTER
screw1: 28, 28
screw1_name: bottom left
screw2: 28, 198
screw2_name: top left
screw3: 180, 198
screw3_name: top right
screw4: 180, 28
screw4_name: bottom right

[bed_mesh]
speed: 300
horizontal_move_z: 5.0
mesh_min: 30,30
mesh_max: 205,205
#probe_count: 6,6
probe_count: 8,8
algorithm: bicubic
fade_start: 1
fade_end: 10
fade_target: 0

[input_shaper]
# Calibrate IS: https://www.klipper3d.org/Resonance_Compensation.html
shaper_type_y = ei
shaper_freq_y = 52
shaper_type_x = ei
shaper_freq_x = 58
damping_ratio_x: 0.058
damping_ratio_y: 0.051

[temperature_sensor BTT_Pi]
sensor_type: temperature_host
#min_temp: 10
#max_temp: 105

[temperature_sensor Neptune_3_pro]
sensor_type: temperature_mcu
sensor_temperature1: 25
sensor_adc1: 0.210317
#min_temp: 0
#max_temp: 105

#*# <---------------------- SAVE_CONFIG ---------------------->
#*# DO NOT EDIT THIS BLOCK OR BELOW. The contents are auto-generated.
#*#
#*# [extruder]
#*# control = pid
#*# pid_kp = 23.999
#*# pid_ki = 1.119
#*# pid_kd = 128.695
#*#
#*# [heater_bed]
#*# control = pid
#*# pid_kp = 70.848
#*# pid_ki = 1.277
#*# pid_kd = 983.017
#*#
#*# [probe]
#*# z_offset = 1.264
#*#
#*# [bed_mesh default]
#*# version = 1
#*# points =
#*# 	  -0.050000, -0.011250, -0.013750, -0.005000, 0.007500
#*# 	  -0.031250, 0.001250, 0.000000, 0.006250, 0.018750
#*# 	  -0.017500, 0.002500, 0.008750, 0.017500, 0.035000
#*# 	  0.018750, 0.021250, 0.017500, 0.031250, 0.040000
#*# 	  0.020000, 0.035000, 0.035000, 0.045000, 0.050000
#*# 	  -0.007500, 0.011250, 0.016250, 0.023750, 0.026250
#*# x_count = 5
#*# y_count = 6
#*# mesh_x_pps = 2
#*# mesh_y_pps = 2
#*# algo = lagrange
#*# tension = 0.2
#*# min_x = 74.655
#*# max_x = 160.335
#*# min_y = 62.882
#*# max_y = 167.082
#*#
#*# [input_shaper]
